.navbar-wrapper{
    width: 100%;
    height: 50px;
    background-color: white;

}

.navbar-container{
    width: 95%;
    vertical-align: middle;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

}
i{
    font-size: 20px;
    vertical-align: middle;
    line-height: 30px;
}
.fa-caret-left
{
    color: cornflowerblue;
    margin-right: 4px;
    font-size: 15px;
}

.navbar-icons{
  width: 20%;
  display: flex;
  justify-content: space-between;
  padding-right: 14%;

}
.navbar-content{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.content-button{
    width: 60%;
}
.content-icons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.content-icons img{
    height: 30px;
    width: 30px;
    border-radius: 30px;
}
.addProjectButton{
    width: 90%;
    margin: 0px auto;
    background-color: cornflowerblue;
    height: 30px;
    border-radius: 20px;
}
.addProjectButton .button-text
{
    display: flex;
    justify-content: space-around;
    color: white;
    margin: 0px 20%;
    flex-direction: row-reverse;
    align-content: center;
}
.addProjectButton p {

    margin: unset;
    vertical-align: middle;
}
.addProjectButton i {
font-size: 10px;
}

.profilePicture{
    justify-content: space-between;
    display: flex;
    width: 50px;
}

@media only screen and (max-width: 600px)  {

    .navbar-icons{
        width:20%;
    }
    .navbar-content{
        width: 70%;

    }
}
